.noteItem {
  border-bottom: 1px solid #6e6161;
  padding: 10px;
  &:hover {
    background-color: #f5f3f3;
    cursor: pointer;
  }
  &.active {
    background-color: #DEDEDC;
  }
  h5 {
    font-size: 20px;
  }
  .dateAndText {
    display: flex;
    .date{
      margin-right: 5px;
    }
  }

}